<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Psicologia</title>

    <!--JQUERY-->
    <script src="js/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    
	<!-- Los iconos tipo Solid de Fontawesome-->
	<script type="text/javascript" th:src="@{/js/all.js}"></script>
	<link th:href="@{/css/all.css}" rel="stylesheet" />
	<link th:href="@{/css/solid.css}" rel="stylesheet" />


    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom/psicologia.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom/index.css}">

</head>
<body>
    <div class="other">
        <div class="container">
			<a th:href="@{/usuarios/1}" class="btn btn-primary p-5 rounded-2 boton"> <i class="fa fa-users"></i>&nbsp;Particulares</a>
			<a th:href="@{/usuarios/2}" class="btn btn-primary p-5 rounded-2 boton"> <i class="fa fa-building"></i>&nbsp;Residenciales</a>
        </div>
    </div>
<!--     <div th:include="modalCambiarContrasena.html" th:remove="tag"></div> -->
<!--                         <div class="col-12 forgot"> -->
<!-- 	                    <p><a href="#" data-toggle="modal" data-target="#cambiarContrasenaModal" autocomplete="on">Cambiar contrase&ntilde;a</a> -->
<!--                 	</div> -->
</body>
</html>