<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Psicologia</title>

<!--JQUERY-->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>

<!--INPUT MASK-->
<script type="text/javascript" th:src="@{/js/jquery.inputmask.js}"></script>

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link th:href="@{/css/all.css}" rel="stylesheet" />
<link th:href="@{/css/solid.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/all.js}"></script>

<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" th:href="@{/css/custom/psicologia.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/custom/usuario.css}">

<!-- Para inputMask -->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>

<!-- DATA TABLE -->
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}">

<!-- BOOTSTRAP DATEPICKER -->
<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/locales/bootstrap-datepicker.es.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.min.css}">

</head>

<body>
	<div class="container">
		<div class="encabezado">
			<a id="cambiarPass" href="#" data-toggle="modal" data-target="#modalCambiarContrasena">Cambiar Contrase&ntilde;a</a>
			<a id="salir" th:href="@{/logout}">Salir</a>
		</div>
		<div class="mx-auto col-sm-12 main-section" id="containerTabsUsuario" role="tablist">
			<div class="alert alert-success text-center d-none" id="intervencionAgregada" >Intervencion agregada</div>
			<div class="alert alert-success text-center d-none" id="contrasenaCambiada" >Contrasena cambiada</div>
			<ul class="nav nav-tabs" id="tabsUsuarios" >
				<li class="nav-item">
					<a class="nav-link tabs" th:classappend="${listTab}" id="list-tab" data-toggle="tab" href="#lista" role="tab" aria-controls="list" aria-selected="false">Lista Usuarios</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:classappend="${formTab}" id="form-tab" data-toggle="tab" href="#ficha" role="tab" aria-controls="form" aria-selected="falses">Ficha</a>
				</li>
			</ul>
			<div class="tab-content" id="tabContenido">
				<div class="tab-pane fade show" id="lista" th:classappend="${listTab}" role="tabpanel" aria-labelledby="list-tab">
					<div class="card">
						<div class="card-body">
							<div th:include="usuario/usuarioLista.html" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show" id="ficha" th:classappend="${formTab}" role="tabpanel" aria-labelledby="form-tab">
					<div class="card">
						<div class="card-header">
							<h4>Ficha usuario</h4>
						</div>
						<div class="card-body">
							<div th:include="usuario/usuarioFicha.html" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div th:include="intervencion/modalAgregarIntervencion.html" th:remove="tag"></div>
<!-- 				<div th:include="atencion/modalVerAtenciones.html" th:remove="tag"></div> -->
<!-- 				<div th:include="modalCambiarContrasena.html" th:remove="tag"></div> -->
			</div>
		</div>
	</div>
</body>

</html>